body {
  background-color: #02394C;
  color: #c6d3e2;
}

a {
  color: #c6d3e2;
}

h1 {
  text-align: center;
  margin: 10px;
}

#subHeading {
  margin: 8px;
}

main p {
  margin: 8px;
}

.sectionHeading {
  margin: 10px;
}

.listClass {
  margin: 8px;
}

footer {
  text-align: center;
  background-color: #688B55;
}
